
<%@ page import="co.cata.blog.Post" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'post.label', default: 'Post')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-post" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-post" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list post">
                                <li class="fieldcontain">
                                  <span id="content-label" class="property-label">Tags</span>
                                  <span class="property-value" aria-labelledby="content-label">${postInstance?.tags}</span>
                                </li>
                          
				<g:if test="${postInstance?.content}">
				<li class="fieldcontain">
					<span id="content-label" class="property-label"><g:message code="post.content.label" default="Content" /></span>
					
						<span class="property-value" aria-labelledby="content-label"><wikitext:renderHtml markup="Textile">${postInstance.content}</wikitext:renderHtml></span>
					
				</li>
				</g:if>
			
				<g:if test="${postInstance?.dateCreated}">
				<li class="fieldcontain">
					<span id="postDate-label" class="property-label"><g:message code="post.dateCreated.label" default="Post Date" /></span>
					
						<span class="property-value" aria-labelledby="createDate-label"><cata:formatDate format="dd-MM-yyyy" date="${postInstance?.dateCreated}" /></span>
					
				</li>
				</g:if>
			
			</ol>
                        
                        <h4>Comments</h4>
                        <comments:each bean="${postInstance}">
                          <div>
                          <span id="content-label" class="property-label">${comment.poster.name} <g:formatDate date="${comment.dateCreated}"/></span>
                          <span class="property-value" aria-labelledby="content-label">${comment.body}</span>
                          </div>
                        </comments:each>
                        
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${postInstance?.id}" />
					<g:link class="edit" action="edit" id="${postInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
